VDOME_ACCESS_TOKEN=replace_me
VDOME_REFRESH_TOKEN=
VDOME_DEVICE_TOKEN=

VDOME_STREAM_USER=stream
VDOME_STREAM_PASSWORD=change-me

VDOME_STREAM_CAMERA_ID=
VDOME_STREAM_CAMERA_NAME=

VDOME_OPEN_CODE=0000
VDOME_INTERCOM_ID=
VDOME_INTERCOM_LOCK=
